<div class="content">
    <div class="cart-holder">
        <p><button> Cart </button></p>
    </div>

    <div class="sub-header">
        <h1>Guitars:</h1>
    </div>
    <div class="filter-holder">Filter:
      <select (change)="filterChanged($event.target.value)">
        <option *ngFor="let filter of filters">{{filter}}</option>
      </select>
    </div>
    <div class="products-main-container">
        <div *ngFor="let product of filteredProductsList" class="single-product-holder">
            <p><strong>Name: </strong> {{product.name}}</p>
            <p><strong>Type: </strong> {{product.type}}</p>
            <p><strong>Brand: </strong> {{product.brand}}</p>
            <p><strong>Number of Strings: </strong> {{product.strings}}</p>
            <p><strong>Price: </strong> {{product.price}}</p>
            <p><strong>Number of pieces available: </strong> {{product.count}}</p>
            <div>
                <button>Add to cart</button>
            </div>
            <hr>
        </div>
    </div>
</div>
